<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'FeathersFightApp/style.css' %}">
</head>

<body>

    {% if publication %}

    <div class="admin_preview_title">
        <label>
            {{ publication.title }}
        </label>
    </div>
    <div class="admin_preview_text">
        <label>
            {{ publication.text|safe }}
        </label>
    </div>
    <p></p>
    <div class="admin_preview_pub_date">
        <label>
            {{ publication.pub_date }}
        </label>
    </div>
    <div class="admin_preview_author">
        <label>
            Written by {{ publication.author.username }}
        </label>
    </div>

    {% else %}

    <div class="admin_preview_error">
        <label>
            Error: Publication object not received.
        </label>
    </div>

    {% endif %}

    <footer>
        <div class="admin_preview_footer_info">

            <div class="admin_preview_footer_info_item"><a href="/admin_dashboard"
                    class="admin_preview_footer_info_item">Back to Admin Dashboard</a>
            </div>
        </div>
    </footer>

</body>

</html>