<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'FeathersFightApp/style.css' %}">
</head>

<body>
    <div class="dashboard_header">
        <div class="dashboard_header_text">Admin Dashboard</div>
        <div class="dashboard_header_href">
            <a href="/1">Home Page</a>
        </div>
    </div>

    <hr class="dashboard_divider">

    <div class="dashboard_users_publications">
        <div class="dashboard_text_header">
            <div class="dashboard_text">All requests</div>
        </div>

        {% if pub_requests %}
        {% for request in pub_requests %}

        <div class="dashboard_publication">
            <div class="dashboard_publication_title">{{ request.pub_request.title }}</div>
            <div class="dashboard_publication_author">- {{ request.pub_request.author.username }}</div>
            <div class="dashboard_publication_short_description">{{ request.short_description }}</div>
            <div class="admin_dashboard_publication_datetime">{{ request.pub_request.request_datetime }}</div>

            <div class="dashboard_publication_actions">
                <a href="admin_preview_request/{{ request.pub_request.id }}"
                    class="dashboard_publication_action">Visualize</a>
                <a href="admin_dashboard/approve/{{ request.pub_request.id }}"
                    class="dashboard_publication_action">Approve</a>
                <a href="admin_dashboard/decline/{{ request.pub_request.id }}"
                    class="dashboard_publication_action">Decline</a>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="dashboard_no_publication_yet">No requests at the moment.</div>
        {% endif %}
    </div>

    <div class="dashboard_users_publications">
        <div class="dashboard_text_header">
            <div class="dashboard_text">All publications</div>
        </div>

        {% if publications %}
        {% for pub in publications %}

        <div class="dashboard_publication">
            <div class="dashboard_publication_title">{{ pub.pub.title }}</div>
            <div class="dashboard_publication_author">- {{ pub.pub.author.username }}</div>
            <div class="dashboard_publication_short_description">{{ pub.short_description }}</div>
            <div class="admin_dashboard_publication_datetime">{{ pub.pub.pub_date }}</div>
            <div class="dashboard_publication_actions">
                <a href="admin_preview/{{ pub.pub.id }}" class="dashboard_publication_action">Visualize</a>
                <a href="admin_dashboard/delete/{{ pub.pub.id }}" class="dashboard_publication_action">Delete</a>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="dashboard_no_publication_yet">No publication yet.</div>
        {% endif %}
    </div>

    <div class="dashboard_footer"></div>

</body>

</html>