<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'FeathersFightApp/style.css' %}">
</head>

<body>
    <div class="admin_dashboard_header">
        <div class="admin_dashboard_header_text">Admin Dashboard</div>
        <div class="admin_dashboard_header_href">
            <a href="/1">Home Page</a>
        </div>
    </div>

    <hr class="admin_dashboard_divider">

    <div class="admin_dashboard_article_requests">
        <div class="admin_dashboard_requests_text_header">
            <div class="admin_dashboard_requests_text">All requests</div>
        </div>

        {% if article_requests %}
        {% for article_request in article_requests %}

        <div class="admin_dashboard_article_request">
            <div class="admin_dashboard_article_request_title">{{ article_request.article_request.title }}</div>
            <div class="admin_dashboard_article_request_author">
                - {{ article_request.article_request.author.username }}
            </div>
            <div class="admin_dashboard_article_request_short_description">
                {{ article_request.short_description }}
            </div>
            <div class="admin_dashboard_article_request_datetime">
                {{ article_request.article_request.request_datetime }}
            </div>

            <div class="admin_dashboard_article_request_actions">
                <a href="admin_dashboard/admin_article_request_preview/{{ article_request.article_request.id }}"
                    class="admin_dashboard_article_request_action">Visualize</a>
                <a href="admin_dashboard/approve/{{ article_request.article_request.id }}"
                    class="admin_dashboard_article_request_action">Approve</a>
                <a href="admin_dashboard/decline/{{ article_request.article_request.id }}"
                    class="admin_dashboard_article_request_action">Decline</a>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="admin_dashboard_no_request_at_the_moment">No request at the moment.</div>
        {% endif %}
    </div>

    <div class="admin_dashboard_authors_articles">
        <div class="admin_dashboard_authors_articles_text_header">
            <div class="admin_dashboard_authors_articles_text">All Articles</div>
        </div>

        {% if articles %}
        {% for article in articles %}

        <div class="admin_dashboard_author_article">
            <div class="admin_dashboard_author_article_title">{{ article.article.title }}</div>
            <div class="admin_dashboard_author_article_author">- {{ article.article.author.username }}</div>
            <div class="admin_dashboard_author_article_short_description">{{ article.short_description }}</div>
            <div class="admin_dashboard_author_article_datetime">{{ article.article.pub_date }}</div>
            <div class="admin_dashboard_author_article_actions">
                <a href="admin_dashboard/admin_article_preview/{{ article.article.id }}"
                    class="admin_dashboard_author_article_action">Visualize</a>
                <a href="admin_dashboard/delete/{{ article.article.id }}"
                    class="admin_dashboard_author_article_action">Delete</a>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="admin_dashboard_no_author_article_yet">No publication yet.</div>
        {% endif %}
    </div>

    <div class="admin_dashboard_footer"></div>

</body>

</html>