<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'FeathersFightApp/style.css' %}">
</head>

<body>

    {% if article %}

    <div class="admin_preview_request_title">
        <label>
            {{ article.title }}
        </label>
    </div>
    <div class="admin_preview_request_text">
        <label>
            {{ article.text|safe }}
        </label>
    </div>
    <p></p>
    <div class="admin_preview_request_pub_date">
        <label>
            {{ article.pub_date }}
        </label>
    </div>
    <div class="admin_preview_request_author">
        <label>
            Written by {{ article.author.username }}
        </label>
    </div>

    {% else %}

    <div class="admin_preview_request_error">
        <label>
            Error: Article object not received.
        </label>
    </div>

    {% endif %}

    <footer>
        <div class="admin_preview_request_footer_info">

            <div class="admin_preview_request_footer_info_item"><a href="/dashboard"
                    class="admin_preview_request_footer_info_item">Back to Dashboard</a>
            </div>
        </div>
    </footer>

</body>

</html>