<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'FeathersFightApp/style.css' %}">
</head>

<body>
    <div class="dashboard_header">
        <div class="dashboard_header_text">Dashboard</div>
        <div class="dashboard_header_href">
            <a href="/dashboard/new">New Article</a>
            |
            <a href="/1">Home Page</a>
        </div>
    </div>

    <hr class="dashboard_divider">

    <div class="dashboard_users_articles">
        <div class="dashboard_text_header">
            <div class="dashboard_text">Your Articles, {{ username }}</div>
        </div>


        {% if article_list %}
        {% for article in article_list %}

        <div class="dashboard_article">
            <div class="dashboard_article_title">{{ article.article.title }}</div>
            <div class="dashboard_article_datetime">{{ article.article.pub_date }}</div>

            <div class="dashboard_article_short_description">{{ article.short_description }}</div>

            <div class="dashboard_article_actions">
                <a href="dashboard/article_preview/{{ article.article.id }}"
                    class="dashboard_article_action">Visualize</a>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="dashboard_no_article_yet">You have no article yet.</div>
        {% endif %}
    </div>

    {% if article_requests %}
    <div class="dashboard_text_header">
        <div class="dashboard_text">Your Requests</div>
    </div>

    {% for article_request in article_requests %}
    <div class="dashboard_users_article_requests">
        <div class="dashboard_article_request_title">{{ article_request.title }}</div>
        <div class="dashboard_article_request_datetime">{{ article_request.request_datetime }}</div>
        <div class="dashboard_article_request_actions">
            <a href="/dashboard/article_request_preview/{{ article_request.id }}"
                class="dashboard_article_request_action">Preview</a>
        </div>
    </div>
    {% endfor %}
    {% endif %}

    {% if saved_articles %}
    <div class="dashboard_text_header">
        <div class="dashboard_text">Your Saves</div>
    </div>
    {% for saved_article in saved_articles %}
    <div class="dashboard_saves">
        <div class="dashboard_save_title">{{ saved_article.title }}</div>
        <div class="dashboard_save_last_save">{{ saved_article.last_save }}</div>
        <div class="dashboard_save_actions">
            <a href="/dashboard/edit/{{ saved_article.id }}" class="dashboard_save_action">Edit</a>
            <a href="/dashboard/delete/save/{{ saved_article.id }}" class="dashboard_save_action">Delete</a>
        </div>
    </div>
    {% endfor %}
    {% endif %}

    <div class="dashboard_footer"></div>

</body>

</html>