<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'FeathersFightApp/style.css' %}">

</head>

<body>

    <div class="edit_article_header_text">Edit Article</div>
    <form method="POST" class="edit_article_form">{% csrf_token %}

        <input type="text" class="edit_article_title_input" name="title" value="{{ article_save.title }}"
            placeholder="Title">

        <div class="edit_publicaiton_text_area" name="text">
            {{ form.as_p }}
            {{ form.media }}
        </div>

        <div class="edit_article_submit">
            <input type="submit" formaction="/dashboard/edit/submit/{{ article_save.id }}"
                class="edit_article_submit_button" value="Submit">
        </div>

        <div class="edit_article_save_and_keep">
            <input type="submit" formaction="/dashboard/edit/save/{{ article_save.id }}"
                class="edit_article_save_and_keep_button" value="Save and Keep Writing">
        </div>

        <div class="edit_article_save_and_return">
            <input type="submit" formaction="/dashboard/edit/save/dashboard/{{ article_save.id }}"
                class="edit_article_save_and_return_button" value="Save and Return to Dashboard">
        </div>

        <div class="edit_article_return_to_dashboard">
            <input type="submit" formaction="/dashboard" class="edit_article_return_to_dashboard_button"
                value="Return to Dashboard">
        </div>


    </form>

</body>

</html>