<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'FeathersFightApp/style.css' %}">

</head>

<body>

    <div class="new_header_text">Edit Publication</div>


    <form action="dashboard/edit/{{ pub_id }}/" method="POST" class="new_form">{% csrf_token %}

        <input type="text" class="new_title_input_text" name="title" value="{{ title }}" placeholder="Title">


        <div class="new_text_area" name="text">
            {{ form.as_p }}
            {{ form.media }}
        </div>
        <div class="new_submit">
            <input type="submit" class="new_submit_button" value="Submit">
        </div>

    </form>

    <form action="" method="POST" class="new_sk_form">{% csrf_token %}
        <div class="new_sk">
            <input type="submit" class="new_sk_button" value="Save and Keep Writing">
        </div>
    </form>

    <form action="" method="POST" class="new_sk_form">{% csrf_token %}
        <div class="new_sb">
            <input type="submit" class="new_sb_button" value="Save and Return to Dashboard">
        </div>
    </form>

</body>

</html>