<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'FeathersFightApp/style.css' %}">
</head>

<body>

    {% if fight %}

    <div class="title">
        <label>
            {{ fight.title }}
        </label>
    </div>
    <div class="text">
        <label>
            {{ fight.text|safe|linebreaks }}
        </label>
    </div>
    <p></p>
    <div class="pub_date">
        <label>
            {{ fight.pub_date }}
        </label>
    </div>
    <div class="author">
        <label>
            Written by {{ fight.author.username }}
        </label>
    </div>

    {% else %}

    <div class="error">
        <label>
            Error: Fight object not received.
        </label>
    </div>

    {% endif %}

    <footer>
        <div class="footer_info">
            <div class="footer_info_item"><a href="/" class="footer_info_item">Home Page</a></div>
        </div>
    </footer>

</body>

</html>