<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'FeathersFightApp/style.css' %}">
    </head>
    <body>
        <img class="logo" src="{% static 'FeathersFightApp/images/logo.png' %}">
        <div class="item_container">

            {% if fights_list %}
                {% for fight in fights_list %}
                    <div class="item_div">
                        <label class="short_description">{{ fight.short_description }}</label>
                        <a href="{{ fight.fight.id }}" class="fightref">{{ fight.fight.style }}</a>
                    </div>
                {% endfor %}
            {% else %}
                <p>Fights list is empty.</p>
            {% endif %}

        </div>
        <!--<div>
            <label>1 2 3 4</label>
        </div>
        -->
        <footer>
            <div class="footer_info">
                <div class="footer_info_item"><a href="" class="footer_info_item">More</a></div>
                <div class="footer_info_item"><a href="" class="footer_info_item">Become an author</a></div>
                <div class="footer_info_item"><a href="" class="footer_info_item">About</a></div>
            </div>
        </footer>
    </body>
</html>
