<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'FeathersFightApp/style.css' %}">

</head>

<body>

    <div class="new_header_text">New Publication</div>
    <form method="POST" class="new_form">{% csrf_token %}

        <input type="text" class="new_title_input_text" name="title" placeholder="Title">

        <div class="new_text_area" name="text">
            {{ form.media }}
            {{ form.as_p }}
        </div>

        <div class="new_submit">
            <input type="submit" formaction="/save/new_send" class="new_submit_button" value="Submit">
        </div>

        <div class="new_sk">
            <input type="submit" formaction="/dashboard/new/save" class="new_sk_button" value="Save">
        </div>

        <div class="new_sb">
            <input type="submit" formaction="/dashboard/new/save/dashboard" class="new_sb_button"
                value="Save and Return to Dashboard">
        </div>

        <div class="new_rd">
            <input type="submit" formaction="/dashboard" class="new_rd_button" value="Return to Dashboard">
        </div>
    </form>

</body>

</html>