<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'FeathersFightApp/style.css' %}">
</head>

<body>

    {% if request %}

    <div class="request_preview_title">
        <label>
            {{ request.title }}
        </label>
    </div>
    <div class="request_preview_text">
        <label>
            {{ request.text|safe }}
        </label>
    </div>
    <p></p>
    <div class="request_preview_pub_date">
        <label>
            {{ request.request_datetime }}
        </label>
    </div>
    <div class="request_preview_author">
        <label>
            Written by {{ request.author.username }}
        </label>
    </div>

    {% else %}

    <div class="request_preview_description">
        <label>
            Error: Request object not received.
        </label>
    </div>

    {% endif %}

    <footer>
        <div class="request_preview_footer_info">
            <div class="request_preview_footer_info_item"><a href="/dashboard"
                    class="request_preview_footer_info_item">Back to Dashboard</a></div>
        </div>
    </footer>

</body>

</html>