/* index.html */

* {
  font-family: Arial, Helvetica, sans-serif;
}
.fightref {
  color: rgb(62, 122, 233);
  text-decoration: none;
}
.imgs {
  display: table;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: left;
  padding-top: 150px;
}
.logo {
  display: table-cell;
}
.feather {
  display: table-cell;
}
.divider {
  width: 50%;
}
.item_container {
  padding: 50px;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}
.item_div {
  display: table;
  width: 100%;
  padding: 10px;
  text-align: right;
}
.short_description {
  display: table-cell;
  color: rgb(136, 136, 136);
  font-style: italic;
  font-size: 17px;
  text-align: justify;
  width: 70%;
}
.fightref {
  padding-left: 8px;
  font-size: 18px;
}

.index_footer_info {
  margin-top: 300px;
  color: rgb(0, 0, 0);
  text-align: center;
}
.index_footer_info_item {
  font-size: 16px;
  padding-bottom: 4px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

/* fight.html */

.style {
  width: 28%;
  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
  padding-top: 240px;
  padding-bottom: 13px;
  text-align: right;
}
.description {
  width: 28%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}
.footer_info {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  color: rgb(0, 0, 0);
}
.pub_date {
  width: 28%;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
}
.footer_info_item {
  font-size: 16px;
  padding: 4px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
