* {
  font-family: Arial, Helvetica, sans-serif;
}

input[type="text"]:focus {
  outline: none;
}
input[type="email"]:focus {
  outline: none;
}
input[type="password"]:focus {
  outline: none;
}

/* index.html */

.index_imgs {
  display: table;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 150px;
}
.index_logo {
  display: table-cell;
}
.index_feather {
  display: table-cell;
}
.index_divider {
  width: 50%;
}
.index_hello_text {
  font-size: 20px;
  text-align: right;
  width: 75%;
}
.index_item_container {
  padding: 50px;
  width: 28%;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}
.index_item_div {
  display: table;
  width: 100%;
  padding: 10px;
  text-align: right;
}
.index_short_description {
  display: table-cell;
  color: rgb(136, 136, 136);
  font-style: italic;
  font-size: 17px;
  text-align: justify;
  width: 60%;
}
.index_fightref {
  color: rgb(62, 122, 233);
  text-decoration: none;
}
.index_pagination_div {
  text-align: center;
  padding-top: 20px;
}
.index_pageref {
  padding-right: 5px;
  color: black;
}
.index_dashboard {
  padding-top: 60px;
  font-size: 16px;
  text-align: center;
}
.index_admin_dashboard {
  padding-top: 20px;
  font-size: 16px;
  text-align: center;
}
.index_dashboardref {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.index_admin_dashboardref {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.index_footer_info {
  padding-top: 50px;
  color: rgb(0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.index_footer_info_item {
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

/* fight.html */

.title {
  width: 38%;

  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
  padding-top: 240px;
  padding-bottom: 13px;
  text-align: right;
}
.text {
  width: 38%;

  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}
.pub_date {
  width: 38%;

  margin-left: auto;
  margin-right: auto;
  text-align: right;
}
.author {
  padding-top: 10px;
  width: 38%;

  margin-left: auto;
  margin-right: auto;
  text-align: right;
}
.footer_info {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  color: rgb(0, 0, 0);
}
.footer_info_item {
  font-size: 16px;
  padding: 4px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

/* register.html */

.register_header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.register_feather {
  padding-top: 120px;
  width: 150px;
}
.register_title {
  font-size: 28px;
  padding: 5px;
}
.register_divider {
  width: 20%;
  margin-bottom: 30px;
}
.register_form {
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.register_text_input {
  padding-bottom: 15px;
}
.register_email_input {
  padding-bottom: 15px;
}
.register_password_input {
  padding-bottom: 15px;
}
.register_area_input {
  height: 35px;
  font-size: 15px;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-bottom: solid black 1px;
}
.register_submit_input {
  text-align: right;
  padding-top: 20px;
  width: 100%;
}
.register_submit_button {
  width: 100%;
  height: 40px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
.register_footer_info {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  color: rgb(0, 0, 0);
}
.register_footer_info_item {
  font-size: 16px;
  padding: 4px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

/* login.html */

.login_header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.login_feather {
  padding-top: 120px;
  width: 150px;
}
.login_title {
  font-size: 28px;
  padding: 5px;
}
.login_divider {
  width: 20%;
  margin-bottom: 30px;
}
.login_form {
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.login_text_input {
  padding-bottom: 15px;
}
.login_password_input {
  padding-bottom: 15px;
}
.login_area_input {
  width: 80%;
  height: 35px;
  font-size: 15px;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-bottom: solid black 1px;
}
.login_submit_input {
  text-align: right;
  padding-top: 20px;
  width: 100%;
}
.login_submit_button {
  width: 100%;
  height: 40px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
.login_footer_info {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  color: rgb(0, 0, 0);
}
.login_footer_info_item {
  font-size: 16px;
  padding: 4px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

/* register_author.html */

.register_author_header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.register_author_feather {
  padding-top: 120px;
  width: 150px;
}
.register_author_title {
  font-size: 28px;
  padding: 5px;
}
.register_author_divider {
  width: 20%;
  margin-bottom: 30px;
}
.register_author_form {
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.register_author_text_input {
  padding-bottom: 15px;
}
.register_author_email_input {
  padding-bottom: 15px;
}
.register_author_password_input {
  padding-bottom: 15px;
}
.register_author_area_input {
  height: 35px;
  font-size: 15px;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-bottom: solid black 1px;
}
.register_author_submit_input {
  text-align: right;
  padding-top: 20px;
  width: 100%;
}
.register_author_submit_button {
  width: 100%;
  height: 40px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
.register_author_footer_info {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  color: rgb(0, 0, 0);
}
.register_author_footer_info_item {
  font-size: 16px;
  padding: 4px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

/* dashboard.html */

.dashboard_header {
  position: relative;
  padding-top: 100px;
  padding-left: 60px;
  width: 60%;
}

.dashboard_header_text {
  display: inline;
  font-size: 40px;
}

.dashboard_header_href {
  display: inline;
  position: absolute;
  right: 0;
  bottom: 0;
}
.dashboard_divider {
  margin-top: 10px;
  margin-left: 60px;
  width: 60%;
}
.dashboard_users_articles {
  width: 45%;
}
.dashboard_text_header {
  padding-left: 60px;
  padding-top: 70px;
}
.dashboard_text {
  display: inline;
  font-size: 28px;
}
.dashboard_article {
  padding-left: 60px;
  padding-top: 45px;
}

.dashboard_article_title {
  display: inline;
  font-size: 21px;
}
.dashboard_article_datetime {
  display: inline;
  padding-left: 4px;
  display: inline;
  font-style: italic;
  font-size: 15px;
}
.dashboard_article_short_description {
  padding-top: 5px;
  color: rgb(136, 136, 136);
}
.dashboard_article_actions {
  padding-top: 15px;
}
.dashboard_article_action {
  padding-right: 15px;
  color: rgb(62, 122, 233);
  text-decoration: none;
}
.dashboard_no_article_yet {
  padding-left: 60px;
  padding-top: 45px;
  font-size: 20px;
}
.dashboard_users_article_requests {
  padding-left: 60px;
  padding-top: 45px;
}
.dashboard_article_request_title {
  display: inline;
  font-size: 21px;
}
.dashboard_article_request_datetime {
  display: inline;
  padding-left: 4px;
  font-style: italic;
  font-size: 15px;
}
.dashboard_article_request_actions {
  padding-top: 15px;
}
.dashboard_article_request_action {
  padding-right: 15px;
  color: rgb(62, 122, 233);
  text-decoration: none;
}
.dashboard_saves {
  padding-left: 60px;
  padding-top: 45px;
}
.dashboard_save_title {
  display: inline;
  font-size: 21px;
}
.dashboard_save_last_save {
  display: inline;
  padding-left: 4px;
  font-style: italic;
  font-size: 15px;
}
.dashboard_save_actions {
  padding-top: 15px;
}
.dashboard_save_action {
  padding-right: 15px;
  color: rgb(62, 122, 233);
  text-decoration: none;
}
.dashboard_footer {
  padding-top: 70px;
}

/* new_article.html */

.new_article_header_text {
  padding-top: 100px;
  padding-left: 140px;
  font-size: 40px;
}
.new_article_form {
  padding-top: 50px;
  padding-left: 140px;
  width: 42%;
  height: 100%;
}
.new_article_title_input {
  width: 40%;
  height: 35px;
  font-size: 18px;
  box-sizing: border-box;
  border: 0;
  border-bottom: solid black 1px;
}
.new_publicaiton_text_area {
  padding-top: 30px;
}
.new_article_submit {
  padding-top: 30px;
}
.new_article_submit_button {
  width: 10%;
  height: 40px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
.new_article_save_and_keep {
  padding-top: 15px;
}
.new_article_save_and_keep_button {
  width: 25%;
  height: 40px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
.new_article_save_and_return {
  padding-top: 15px;
}
.new_article_save_and_return_button {
  width: 25%;
  height: 40px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
.new_article_return_to_dashboard {
  padding-top: 15px;
  padding-bottom: 40px;
}
.new_article_return_to_dashboard_button {
  width: 25%;
  height: 40px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

/* edit_article.html */

.edit_article_header_text {
  padding-top: 100px;
  padding-left: 140px;
  font-size: 40px;
}
.edit_article_form {
  padding-top: 50px;
  padding-left: 140px;
  width: 42%;
  height: 100%;
}
.edit_article_title_input {
  width: 40%;
  height: 35px;
  font-size: 18px;
  box-sizing: border-box;
  border: 0;
  border-bottom: solid black 1px;
}
.edit_publicaiton_text_area {
  padding-top: 30px;
}
.edit_article_submit {
  padding-top: 30px;
}
.edit_article_submit_button {
  width: 10%;
  height: 40px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
.edit_article_save_and_keep {
  padding-top: 15px;
}
.edit_article_save_and_keep_button {
  width: 25%;
  height: 40px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
.edit_article_save_and_return {
  padding-top: 15px;
}
.edit_article_save_and_return_button {
  width: 25%;
  height: 40px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
.edit_article_return_to_dashboard {
  padding-top: 15px;
  padding-bottom: 40px;
}
.edit_article_return_to_dashboard_button {
  width: 25%;
  height: 40px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

/* admin_dashboard.html */

.admin_dashboard_header {
  position: relative;
  padding-top: 100px;
  padding-left: 60px;
  width: 60%;
}
.admin_dashboard_header_text {
  display: inline;
  font-size: 40px;
}
.admin_dashboard_header_href {
  display: inline;
  position: absolute;
  right: 0;
  bottom: 0;
}
.admin_dashboard_divider {
  margin-top: 10px;
  margin-left: 60px;
  width: 60%;
}
.admin_dashboard_article_requests {
  width: 45%;
}
.admin_dashboard_requests_text_header {
  padding-left: 60px;
  padding-top: 70px;
}
.admin_dashboard_requests_text {
  display: inline;
  font-size: 28px;
}
.admin_dashboard_article_request {
  padding-left: 60px;
  padding-top: 45px;
}
.admin_dashboard_article_request_title {
  display: inline;
  font-size: 21px;
}
.admin_dashboard_article_request_author {
  display: inline;
  color: rgb(136, 136, 136);
}
.admin_dashboard_article_request_short_description {
  padding-top: 5px;
  color: rgb(136, 136, 136);
}
.admin_dashboard_article_request_datetime {
  padding-top: 10px;
  font-style: italic;
  font-size: 15px;
}
.admin_dashboard_article_request_actions {
  padding-top: 15px;
}
.admin_dashboard_article_request_action {
  padding-right: 15px;
  color: rgb(62, 122, 233);
  text-decoration: none;
}
.admin_dashboard_no_request_at_the_moment {
  padding-left: 60px;
  padding-top: 45px;
  font-size: 20px;
}
.admin_dashboard_authors_articles {
  padding-top: 45px;
}
.admin_dashboard_authors_articles_text_header {
  padding-left: 60px;
  padding-top: 70px;
}
.admin_dashboard_authors_articles_text {
  display: inline;
  font-size: 28px;
}
.admin_dashboard_author_article {
  padding-left: 60px;
  padding-top: 45px;
}
.admin_dashboard_author_article_title {
  display: inline;
  font-size: 21px;
}
.admin_dashboard_author_article_author {
  display: inline;
  color: rgb(136, 136, 136);
}
.admin_dashboard_author_article_short_description {
  padding-top: 5px;
  color: rgb(136, 136, 136);
}
.admin_dashboard_author_article_datetime {
  padding-top: 10px;
  font-style: italic;
  font-size: 15px;
}
.admin_dashboard_author_article_actions {
  padding-top: 15px;
}
.admin_dashboard_author_article_action {
  padding-right: 15px;
  color: rgb(62, 122, 233);
  text-decoration: none;
}
.admin_dashboard_no_author_article_yet {
  padding-left: 60px;
  padding-top: 45px;
  font-size: 20px;
}
.admin_dashboard_footer {
  padding-top: 70px;
}

/* fight_preview */

.fight_preview_title {
  width: 38%;

  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
  padding-top: 240px;
  padding-bottom: 13px;
  text-align: right;
}
.fight_preview_text {
  width: 38%;

  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}
.fight_preview_pub_date {
  width: 38%;

  margin-left: auto;
  margin-right: auto;
  text-align: right;
}
.fight_preview_author {
  padding-top: 10px;
  width: 38%;

  margin-left: auto;
  margin-right: auto;
  text-align: right;
}
.fight_preview_error {
}
.fight_preview_footer_info {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  color: rgb(0, 0, 0);
}
.fight_preview_footer_info_item {
  font-size: 16px;
  padding: 4px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

/* request_preview */

.request_preview_title {
  width: 38%;

  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
  padding-top: 240px;
  padding-bottom: 13px;
  text-align: right;
}
.request_preview_text {
  width: 38%;

  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}
.request_preview_pub_date {
  width: 38%;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
}
.request_preview_author {
  padding-top: 10px;
  width: 38%;

  margin-left: auto;
  margin-right: auto;
  text-align: right;
}
.request_preview_error {
}
.request_preview_footer_info {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  color: rgb(0, 0, 0);
}
.request_preview_footer_info_item {
  font-size: 16px;
  padding: 4px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

/* admin_preview */

.admin_preview_title {
  width: 38%;

  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
  padding-top: 240px;
  padding-bottom: 13px;
  text-align: right;
}
.admin_preview_text {
  width: 38%;

  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}
.admin_preview_pub_date {
  width: 38%;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
}
.admin_preview_author {
  padding-top: 10px;
  width: 38%;

  margin-left: auto;
  margin-right: auto;
  text-align: right;
}
.admin_preview_error {
}
.admin_preview_footer_info {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  color: rgb(0, 0, 0);
}
.admin_preview_footer_info_item {
  font-size: 16px;
  padding: 4px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

/* admin_preview_request */

.admin_preview_request_title {
  width: 38%;

  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
  padding-top: 240px;
  padding-bottom: 13px;
  text-align: right;
}
.admin_preview_request_text {
  width: 38%;

  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}
.admin_preview_request_pub_date {
  width: 38%;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
}
.admin_preview_request_author {
  padding-top: 10px;
  width: 38%;

  margin-left: auto;
  margin-right: auto;
  text-align: right;
}
.admin_preview_request_error {
}
.admin_preview_request_footer_info {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  color: rgb(0, 0, 0);
}
.admin_preview_request_footer_info_item {
  font-size: 16px;
  padding: 4px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
